
a {
    color: $ancbs-brown;
}

a:hover {
    color: $ancbs-deepbrown;
}

.alert-info{
    color:$ancbs-brown;
    background-color: $ancbs-white4;
    border-color: $ancbs-deepbrown;
}

.as-nav-list > li > a.active{
    background-color: $ancbs-deepbrown;
}

.badge {
    background-color: $ancbs-deepbrown;
    color: white;
}

.btn-info:hover {
    color: white;
    background-color: $ancbs-deepbrown;
    border-color: $ancbs-deepbrown;
}

.btn-default.bulktypebtn.active {
    color: #fff;
    background-color: $ancbs-deepbrown;
    border-color: $ancbs-deepbrown;
}

.btn-link {
    color: $ancbs-brown;
}

.btn-link:hover {
    color: $ancbs-deepbrown;
}

.btn-primary {
    background-color: $ancbs-brown;
    border-color: $ancbs-brown;
}

.btn-primary:hover {
    background-color: $ancbs-deepbrown;
    border-color: $ancbs-deepbrown;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: $ancbs-deepbrown; 
    border-color: $ancbs-deepbrown;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: $ancbs-deepbrown;
    border-color:  $ancbs-deepbrown;
}

.largetree-container .current td, 
.largetree-container .current .table-cell {
    background-color: $ancbs-white4;
}

li.token-input-token {

    background-image: linear-gradient(to bottom, $ancbs-deepbrown 0%, $ancbs-brown 100%);
    border:  1px solid $ancbs-deepbrown;
    color: #fff;
}

.page-link {
    color: $ancbs-brown;
}

.page-link:hover {
    color: $ancbs-deepbrown;
}

.page-item.active .page-link {
    background-color: $ancbs-deepbrown;
    border-color: $ancbs-deepbrown;
}

table.table-sortable thead th.sort-asc {
    background-image: linear-gradient(to bottom, $ancbs-white4);
}

.token {
    border: 1px solid $ancbs-deepbrown;
    background-color: $ancbs-deepbrown;
    background-image: linear-gradient(to bottom, $ancbs-deepbrown 0%, $ancbs-brown 100%);
}

.token:hover {
    border: 1px solid $ancbs-deepbrown;
    background-color: $ancbs-deepbrown;
    background-image: linear-gradient(to bottom, $ancbs-brown 0%, $ancbs-deepbrown 100%);
}
